@{
    ViewData["Title"] = "Home Page";
}

<body style="
background-image: url('css\images\treescreenshot 2024-04-08 115453.png');">

    <div class="text-center">
        <h1 class="display-4">Welcome to Avondale College</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <section>
        <article>

            <p>
                asfsdfdfgkjpfgkpdofkg dfogkpdofkgpodfkgpo dfgdfgsd

            </p>


        </article>

    </section>

</body>


   
