@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Avondale Collage</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section>
    <article>

        <img src="~/css/images/treescreenshot 2024-04-08 115453.png"/> 

    </article>

</section>